<a href="https://colab.research.google.com/github/gabhirama/Kaggle-Projects/blob/main/Titanic_Disaster_Predicition_using_Decision_Tree_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
test_data = pd.read_csv('/content/test.csv')
train_data = pd.read_csv('/content/train.csv')

In [3]:
train_data = train_data.fillna({'Age':train_data['Age'].mean()})
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [4]:
inputs = train_data[['Pclass','Sex','Age','Fare']]
target = train_data[['Survived']]

In [5]:
LE_Sex = LabelEncoder()
inputs['Sex_new'] = LE_Sex.fit_transform(inputs[['Sex']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
<ipython-input-5-30b1a7d40a7d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Sex_new'] = LE_Sex.fit_transform(inputs[['Sex']])

In [6]:
inputs_new = inputs.drop(['Sex'],axis = 1)
inputs_new = inputs_new.dropna(thresh=4)
inputs_new

     Pclass        Age     Fare  Sex_new
0         3  22.000000   7.2500        1
1         1  38.000000  71.2833        0
2         3  26.000000   7.9250        0
3         1  35.000000  53.1000        0
4         3  35.000000   8.0500        1
..      ...        ...      ...      ...
886       2  27.000000  13.0000        1
887       1  19.000000  30.0000        0
888       3  29.699118  23.4500        0
889       1  26.000000  30.0000        1
890       3  32.000000   7.7500        1

[891 rows x 4 columns]

In [7]:
X_train,X_test,y_train,y_test = train_test_split(inputs_new,target,test_size=0.3,random_state=101)

In [8]:
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [9]:
print("The model's accuracy is",model.score(X_test,y_test)*100,"%")

The model's accuracy is 77.98507462686567 %

In [10]:
test_data = test_data.fillna({'Age':test_data['Age'].mean(),'Fare':test_data['Fare'].median()})
test_data_inputs = test_data[['Pclass','Sex','Age','Fare']]
test_data_inputs['Sex_new'] = LE_Sex.fit_transform(test_data_inputs[['Sex']])
test_data_inputs_new = test_data_inputs.drop(['Sex'],axis=1)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
<ipython-input-10-87a4814cfc0c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data_inputs['Sex_new'] = LE_Sex.fit_transform(test_data_inputs[['Sex']])

In [11]:
our_predictions = model.predict(test_data_inputs_new)

In [12]:
predictions = {'PassengerID': test_data['PassengerId'],
               'Survived' : our_predictions}
prediction = pd.DataFrame(predictions)

In [13]:
prediction

     PassengerID  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [14]:
prediction.to_csv("/content/my_predictions_on_titanic_dataset.csv",index= False)

In [15]:
pd.read_csv('/content/gender_submission.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]